.bodyContacto {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;
    font-family: $fuentePrincipal;

    .formularioYMapa {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;

        .formulario {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            background-color: rgb(134, 160, 187);
            padding: 10px;
            border-radius: 10px;
            opacity: 0.8;

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }

            ::placeholder {
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
            }

            .tituloDelForm {
                font-size: 30px;
                margin-bottom: 4%;
                margin-top: 8px;
                padding-left: 1px;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }

            .formulario__nombre {
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(161, 154, 154);
                outline: none;
            }

            .formulario__apellido {
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__pais {
                width: 47.1%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 8px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
                font-family: $fuentePrincipal;
                font-weight: bold;
            }

            .formulario__cel {
                width: 46.9%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__email {
                width: 95.5%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__consulta {
                width: 95.5%;
                height: 100px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                padding-top: 10px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__boton {
                width: 95.5%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 4px;
                color: rgb(255, 255, 255);
                background-color: rgba(44, 43, 43, 0.904);
                font-size: 17px;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 1px;

                &:hover {
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
                    transition: all 0.2s ease;
                    background-color: rgb(24, 22, 22);
                }
            }
        }
    }

    .mapa {
        margin-left: 30px;
        background-color: rgb(134, 160, 187);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.8;

        .mapa__direccion {
            font-size: 25px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
        }

        .mapa__ciudad {
            font-size: 17px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
        }

        .mapaGoogle {
            width: 375px;

        }
    }

    .logosContacto {
        display: flex;
        margin-top: 9px;
        margin-left: 25px;
        width: 70px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            transition: all 0.2s ease;
            transform: scale(1.1);
        }
    }
}