@import "variables";
@import "contacto";

* {
    margin: 0%;
    padding: 0%;
}

.header {
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    font-weight: bold;
    font-family: $fuentePrincipal;

    .logoDelMenu img {
        width: 250px;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li a {
        text-decoration: none;
        margin-right: 7px;
        margin-left: 7px;
        color: $colorBlanco;

        &:hover {
            color: #86a0bb;
        }
    }
}

.mainIndex {
    font-family: $fuentePrincipal;
    background-color: $colorBlanco;

    .fotoYTexto {
        min-height: 85vh;
        background: url(../imagenes/AdobeStock_263217475.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .tituloPrincipal {
            text-align: end;
            font-size: 100px;
            padding-right: 50px;
            padding-top: 90px;
            font-weight: bold;
            color: $colorGris;
        }

        .tituloPrincipalContinuacion {
            text-align: end;
            font-size: 100px;
            padding-right: 50px;
            font-weight: bold;
            color: $colorGris;
        }

        .textoDelTitulo {
            font-size: 37px;
            text-align: end;
            font-weight: 500;
            color: #1a1818ea;
            padding-right: 50px;
            padding-top: 20px;
        }
    }

    .fondoIndex {
        padding-top: 50px;
        background: url(../imagenes/fondo.jpeg);
        background-size: cover;

        .textoDeLosLogos {
            font-size: 45px;
            text-align: center;
            padding: 15px;
            padding-bottom: 40px;
            font-weight: bold;
            color: $colorPrincipal;
        }

        .serviciosIndex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;

            .serviciosIndex__logos {
                width: 200px;
            }

            .serviciosIndex__texto {
                font-size: 25px;
                width: 200px;
                margin-top: 10px;
                font-weight: bold;
                color: #000000c9;
            }

            .fondoLogos {
                padding: 12PX;
                border-radius: 5px;
                background: rgb(134, 160, 187);
                width: 200px;
                height: 276px;

                &:hover {
                    box-shadow: 0 20px 50px rgb(134, 160, 187);
                    transition: all 0.2s ease;
                    transform: scale(1.1);
                }
            }
        }

        .botonDeContacto {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 60px;
            padding-bottom: 50px;

            .botonIndex {
                border: none;
                padding: 10px;
                border-radius: 10px;
                background-color: $colorBlanco;
                transition: 0.3s;

                &:hover {
                    background-color: $colorPrincipal;
                }

                a {
                    font-family: $fuentePrincipal;
                    color: $colorPrincipal;
                    font-size: 35px;
                    font-weight: bold;
                    text-decoration: none;
                    list-style: none;
                    text-align: center;

                    &:hover {
                        color: $colorBlanco;
                    }
                }
            }
        }
    }
}

.footer {
    font-family: $fuentePrincipal;
    display: flex;
    background-color: $colorPrincipal;
    color: $colorBlanco;
    padding: 20px;
    justify-content: space-evenly;

    .formFooter__titulo {
        padding-bottom: 3px;
        font-weight: bold;
    }

    .formFooter__form {
        outline: none;
        padding: 5px;
        border: none;
        border-radius: 3px;
    }

    .formFooter__btn {
        padding: 5px;
        font-family: $fuentePrincipal;
        border-radius: 3px;
        border: none;
        color: $colorPrincipal;
        background-color: rgba(255, 255, 255, 0.89);
        font-weight: bold;

        &:hover {
            color: black;
        }
    }
}

.bodyNosotros {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;

    .mainNosotros {
        display: flex;
        font-family: $fuentePrincipal;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 100px;

        .fotoNosotros {
            width: 40%;
        }

        .nosotrosContenido {
            background: #f0f0f0;

            .nosotrosTitulo {
                font-size: 60px;
                padding-left: 30px;
                padding-top: 25px;
                font-weight: bold;
            }

            .nosotrosSubTitulos {
                padding-left: 30px;
                font-size: 30px;
                font-weight: bold;
                color: $colorPrincipal;
                padding-bottom: 5px;
            }

            .nosotrosTexto {
                font-size: 20px;
                width: 600px;
                padding-left: 30px;
                padding-bottom: 30px;
                padding-right: 30px;
            }
        }
    }
}

.bodySoporte {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;
    font-family: $fuentePrincipal;

    .mainSoporte {
        display: flex;
        padding-bottom: 1%;
        padding-top: 1%;

        .formularioSoporte {
            display: flex;
            width: 47%;
            flex-wrap: wrap;
            margin-left: 50px;
            background-color: rgb(134, 160, 187);
            border-radius: 10px;
            padding: 15px;
            margin-top: 2%;
            margin-bottom: 2%;
            color: white;

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }

            ::placeholder {
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
            }

            .tituloSoporte {
                font-size: 30px;
            }

            .subTituloSoporte {
                font-size: 17px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .formulario__nombre {
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(161, 154, 154);
                outline: none;
            }

            .formulario__apellido {
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__pais {
                width: 48.4%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 8px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
                font-family: $fuentePrincipal;
                font-weight: bold;
            }

            .formulario__cel {
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__email {
                width: 96%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__consulta {
                width: 96%;
                height: 100px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                padding-top: 10px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__boton {
                width: 97.5%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: rgb(255, 255, 255);
                background-color: rgba(44, 43, 43, 0.904);
                font-size: 17px;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 1px;

                &:hover {
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
                    transition: all 0.2s ease;
                    background-color: rgb(24, 22, 22);
                }
            }
        }
        .redesSoporte{
            display: grid;
            grid-template-columns: 500px;
            grid-template-rows: 100px 150px;
            margin-top: 35px;
            margin-left: 50px;
            grid-template-areas: 
            "titulo"
            " logos"
            ;
        }

        .textoSoporte{
            grid-area: titulo;
            height: 100px;
            font-size: 30px;
            
        }
        .redesSoporteLinks{
            grid-area: logos;
            .redesSoporteLinks__logos {
                margin-top: 50px;
                margin-right: 50px;
                width: 70px;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                    transition: all 0.2s ease;
                    transform: scale(1.1);
                }
            }
            .logoCorreo{
                margin-left: 70px;
            }
        }
        
    }
}