@import "variables";
@import "contacto";

* {
    margin: 0%;
    padding: 0%;
}

.fuente {
    font-family: $fuentePrincipal;
}

.header {
    font-weight: bold;

    nav {
        background-color: $colorPrincipal !important;

        div {
            div {

                display: flex;
                justify-content: end;

                ul {
                    li {
                        a {
                            margin-right: 7px;
                            margin-left: 7px;
                            color: $colorBlanco !important;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    background-color: $colorPrincipal;
    color: $colorBlanco;
    padding: 20px;
    justify-content: space-evenly;

    .formFooter__titulo {
        padding-bottom: 3px;
        font-weight: bold;
    }

    .formFooter__form {
        outline: none;
        padding: 5px;
        border: none;
        border-radius: 3px;
    }

    .formFooter__btn {
        padding: 5px;
        border-radius: 3px;
        border: none;
        color: $colorPrincipal;
        background-color: rgba(255, 255, 255, 0.89);
        font-weight: bold;

        &:hover {
            color: black;
        }
    }
}
/*boton para ir a pagina "contacto" aplicado en el index y en la pagina servicios*/
.botonDeContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .botonContacto {
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: $colorBlanco;
        transition: 0.1s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);

        &:hover {
            background-color: $colorPrincipal;
        }

        a {
            color: $colorPrincipal;
            font-size: 35px;
            font-weight: bold;
            text-decoration: none;
            list-style: none;
            text-align: center;

            &:hover {
                color: $colorBlanco;
            }
        }
    }
}
.mainIndex {
    background-color: $colorBlanco;

    .portadaIndex {
        background: url(../imagenes/AdobeStock_263217475.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;

        .tituloPrincipal {
            text-align: end;
            font-size: 100px;
            padding-right: 50px;
            padding-top: 60px;
            color: $colorGris;
            height: 200px;
        }

        .tituloPrincipalContinuacion {
            text-align: end;
            font-size: 100px;
            padding-right: 50px;
            color: $colorGris;
            height: 150px;
        }

        .esloganDelTitulo {
            font-size: 35px;
            text-align: end;
            font-weight: bold;
            color: #1a1818ea;
            padding-right: 50px;
            padding-top: 20px;
            height: 133px;
        }
    }

    .muestraDeServiciosIndex {
        padding-top: 50px;
        background: url(../imagenes/fondo.jpeg);
        background-size: cover;

        .tituloDeLosLogos {
            font-size: 45px;
            text-align: center;
            padding: 15px;
            padding-bottom: 40px;
            font-weight: bold;
            color: $colorPrincipal;
        }

        .serviciosIndex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;

            .serviciosIndex__logos {
                width: 200px;
            }

            .serviciosIndex__texto {
                font-size: 25px;
                width: 200px;
                margin-top: 10px;
                font-weight: bold;
                color: #000000c9;
                text-align: center;
            }

            .fondoLogos {
                padding: 12PX;
                border-radius: 5px;
                background: $colorCeleste;
                width: 230px;
                height: 300px;

                &:hover {
                    box-shadow: 0 20px 50px $colorCeleste;
                    transition: all 0.2s ease;
                    transform: scale(1.1);
                }
            }
        }
    }
}
/*pagina nosotros*/
.bodyNosotros {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;

    .mainNosotros {
        margin-top: 30px;
        margin-bottom: 30px;

        .nosotrosContenido {
            display: flex;
            justify-content: center;

            .fotoNosotros {
                width: 500px;
            }

            .nosotrosTexto {
                font-size: 15px;
                width: 500px;
                padding-right: 20px;
                font-weight: bold;

                .nosotrosTitulo {
                    color: $colorPrincipal;
                    font-size: 60px;
                    width: 300px;
                    font-weight: bold;
                }
            }
        }
    }
}
/*pagina soporte*/
.bodySoporte {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;

    .mainSoporte {
        display: flex;
        padding-bottom: 1%;
        padding-top: 1%;

        .formularioSoporte {
            display: flex;
            width: 47%;
            flex-wrap: wrap;
            margin-left: 50px;
            background-color: rgb(134, 160, 187);
            border-radius: 10px;
            padding: 15px;
            margin-top: 2%;
            margin-bottom: 2%;
            color: white;

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }

            ::placeholder {
                font-weight: bold;
            }

            .tituloSoporte {
                font-size: 30px;
                margin-left: 4px;
            }

            .subTituloSoporte {
                font-size: 17px;
                font-weight: bold;
                padding-bottom: 5px;
                margin-left: 4px;
            }

            .formulario__nombre {
                width: 48%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(161, 154, 154);
                outline: none;
            }

            .formulario__apellido {
                width: 48%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__pais {
                width: 48%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 8px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
                font-weight: bold;
            }

            .formulario__cel {
                width: 48.1%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__email {
                width: 97.5%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__consulta {
                width: 97.5%;
                height: 100px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                padding-top: 10px;
                margin-top: 10px;
                margin-left: 4px;
                color: rgb(128, 127, 127);
                outline: none;
            }

            .formulario__boton {
                width: 97.5%;
                height: 40px;
                border-radius: 5px;
                border-style: none;
                padding-left: 10px;
                margin-left: 4px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: rgb(255, 255, 255);
                background-color: rgba(44, 43, 43, 0.904);
                font-size: 17px;
                font-weight: bold;
                letter-spacing: 1px;

                &:hover {
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
                    transition: all 0.2s ease;
                    background-color: rgb(24, 22, 22);
                }
            }
        }

        .redesSoporte {
            display: grid;
            grid-template-columns: 500px;
            grid-template-rows: 100px 150px;
            margin-top: 35px;
            margin-left: 50px;
            grid-template-areas:
                "titulo"
                " logos"
            ;
        }

        .textoSoporte {
            grid-area: titulo;
            height: 100px;
            font-size: 30px;
        }

        .redesSoporteLinks {
            grid-area: logos;

            .redesSoporteLinks__logos {
                margin-top: 50px;
                margin-right: 50px;
                width: 70px;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                    transition: all 0.2s ease;
                    transform: scale(1.1);
                }
            }

            .logoCorreo {
                margin-left: 70px;
            }
        }

    }
}
/*pagina servicios*/
.bodyServicios {
    background-image: url(../imagenes/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $colorBlanco;

    .mainServicios {
        display: flex;
        justify-content: space-evenly;


        .cajaServicios {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            margin-top: 85px;
            background-color: $colorPrincipal;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
            opacity: 0.8;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }

            .cajaServicios__Textos {
                color: $colorBlanco;
                font-weight: bold;
            }
        }
    }
}
/*tamaño celular index*/
@media only screen and (max-width: 480px) {
    .mainIndex {
        .portadaIndex {
            .tituloPrincipal {
                font-size: 50px;
                padding-right: 1px;
                height: 100px;
                padding-top: 40px;
            }

            .tituloPrincipalContinuacion {
                font-size: 50px;
                padding-right: 1px;
                height: 100px;
                padding-bottom: 0px;
            }

            .esloganDelTitulo {
                display: none;
            }
        }

        .muestraDeServiciosIndex {
            .tituloDeLosLogos {
                font-size: 35px;
            }

            .serviciosIndex {
                flex-direction: column;
                align-items: center;

                .fondoLogos {
                    background-color: transparent;

                    &:hover {
                        box-shadow: none;
                        transition: none;
                        transform: none;
                    }
                }
            }
        }
    }
}
/*tamaño celular servicios*/
@media only screen and (max-width: 480px) {
    .bodyServicios {
        .mainServicios {
            .cajaServicios {
                padding: 30px;
                margin-top: 50px;
            }
        }
    }
}
/*tamaño celular nosotros*/
@media only screen and (max-width: 480px) {
    .bodyNosotros {
        .mainNosotros {
            margin-top: 15px;
            margin-bottom: 15px;

            .nosotrosContenido {
                div {
                    .fotoNosotros {
                        display: none;
                    }
                }

                .nosotrosTexto {
                    .nosotrosTitulo {
                        font-size: 40px;
                        width: 200px;
                    }
                }
            }
        }
    }
}
/*tamaño celular contacto*/
@media only screen and (max-width: 480px) {
    .bodyContacto {
        .formularioYMapa {
            width: 100%;
            margin-left: 0%;

            .formulario {
                width: 100%;
                margin-bottom: 10px;
            }

            .mapa {
                width: 100%;
                margin-left: 0%;

                .mapaGoogle {
                    width: 100%;
                }
            }

            .cajaLogosContacto {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                margin-top: 10px;
                margin-bottom: 10px;

                .logosContacto {
                    margin-left: 0px;
                }
            }
        }
    }
}
/*tamaño celular soporte*/
@media only screen and (max-width: 480px) {

    .bodySoporte {
        .mainSoporte {
            .formularioSoporte {
                width: 95%;
                padding: 10px;
                margin-left: 10px;
                opacity: 0.8;

                .formulario__pais {
                    margin-left: 0px;
                }

                .formulario__email {
                    margin-left: 0px;
                }
            }

            .redesSoporte {
                margin-left: 0px;
                margin-top: 25px;
                display: flex;
                flex-wrap: wrap;

                .textoSoporte {
                    height: 130px;
                    font-size: 25px;
                    font-weight: bold;
                }

                .redesSoporteLinks {
                    width: 450px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .redesSoporteLinks__logos {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            }

        }
    }
}
/*boton para ir a pagina "contacto"*/
@media only screen and (max-width: 480px) {
    .botonDeContacto {
        .botonIndex {
            a {
                font-size: 20px;
            }
        }
    }
}