* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(49deg, rgba(255,255,255,1) 0%, rgba(220,231,231,1) 99%);
}

.logoDelMenu img{
    width: 250px;
}

/* NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu li a{
    margin-right: 7px;
    margin-left: 7px;
    color: black;
    font-weight: bold;
}
.menu a:hover{
    color: #4ed9cb;
}

/* FOTO Y TEXTO */

.foto {
    width: 100%;
}

.tituloPrincipal{
    font-size: 100px;
    width: 700px;
    position: absolute;
    top: 170px;
    right: 64px;
    line-height: 100%;
    text-align: end;
    color: rgba(26, 24, 24, 0.733);
}
.textoDelTitulo {
    font-size: 37px;
    position: absolute;
    top: 380px;
    right: 70px;
    text-align: end;
    font-weight: bold;
    color: rgb(34, 31, 31);
}

/* MUESTRA DE SERVICIOS EN EL INDEX */

.textoDeLosLogos {
    font-size: 45px;
    text-align: center;
    padding: 15px;
    margin-top: 52px;
}
.serviciosIndex__logos{
    width: 200px;
}
.serviciosIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.serviciosIndex__texto{
    font-size: 25px;
    width: 200px;
    margin-top: 10px;
    text-decoration: double;
}
.botonDos {
    display: flex;
    text-align: center;
    font-size: 35px;
    color: black;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    background: rgb(235, 226, 226);
    background: linear-gradient(49deg, rgba(235,226,226,1) 0%, rgba(217,244,244,1) 100%);
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.fondoDegradado{
    padding: 12PX;
    border-radius: 5px;
    background: rgb(235, 226, 226);
    background: linear-gradient(49deg, rgba(235,226,226,1) 0%, rgba(217,244,244,1) 100%);
}

/* FOOTER */

.footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-evenly
}
.formFooter__form{
    outline: none;
}


/* GRID INDEX */

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 500px 100px 400px 120px 100px ;

    grid-template-areas: 
    "header"
    "fotoytexto"
    "textologos"
    "logos "
    "boton"
    "footer"
    ;
}
.header {
    grid-area: header;
}
.fotoYTexto {
    grid-area: fotoytexto;
}
.textoDeLosLogos{
    grid-area: textologos;
}
.serviciosIndex{
    grid-area: logos;
}
.botonDos{
    grid-area: boton;
}
.footer{
    grid-area: footer;
}

/* NOSOTROS */
.nosotrosTextos {
    display: flex;
    background: rgb(235, 226, 226);
    background: linear-gradient(49deg, rgba(235,226,226,1) 0%, rgba(217,244,244,1) 100%);
    padding: 25px;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(7, 7, 7, 0.678);
    margin-bottom: 47px;
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;

}
.nosotrosTitulos{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 1090px;
    margin-bottom: 13px;
    background-color: rgba(144, 214, 219, 0.267);
    text-align: center;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.808);

}

/* CONTACTO */
/*FORMULARIO*/
.mainform{
    background: rgb(185, 205, 206);
}

.fomularioYMapa{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    width: 39%;
}
.tituloDelForm{
    font-size: 30px;
    margin-bottom: 4%;
}
.formulario__nombre{
    width: 222px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    color: rgb(161, 154, 154);
    outline: none;
}
.formulario__apellido{
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}
.formulario__pais {
    width: 232px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}
.formulario__cel{
    
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}
.formulario__email{
    width: 457px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}
.formulario__consulta{
    width: 457px;
    height: 100px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}
.formulario__boton{
    width: 467px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    background-color: rgb(87, 87, 87);
    font-size: 17px;
}
.formulario__boton:hover {
    color: rgb(36, 136, 143) !important;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    transition: all 0.2s ease;
    background-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; 
}
::placeholder{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/*MAPA*/
.mapa{
    margin-left: 40px;
}
.mapa__direccion{
    font-size: 25px;
    font-weight: bold;
}
.mapa__ciudad{
    padding-bottom: 5px;
    font-size: 17px;
}

