* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

p {
    font-family: 'Quicksand', sans-serif;
}
.logoDelMenu img {
    width: 250px;
}

/* NAV */

.navColor {
    background-color: rgb(42, 75, 106);
}

.container-fluid header nav ul li a {
    color: rgb(255, 255, 255) !important;
}

a {
    font-family: 'Quicksand', sans-serif;
}

/* FOTO Y TEXTO */

.foto {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

.tituloPrincipal {
    font-size: 100px;
    width: 700px;
    position: absolute;
    top: 170px;
    right: 64px;
    line-height: 100%;
    text-align: end;
    color: rgba(0, 0, 0, 0.616);
    font-weight: 500;
}

.textoDelTitulo {
    font-size: 37px;
    position: absolute;
    top: 380px;
    right: 70px;
    text-align: end;
    font-weight: 500;
    color: rgb(26, 24, 24);
}

/* MUESTRA DE SERVICIOS EN EL INDEX */

.textoDeLosLogos {
    font-size: 45px;
    text-align: center;
    padding: 15px;
    margin-top: 52px;
    font-weight: bold;
    color: rgb(42, 75, 106);
}

.serviciosIndex__logos {
    width: 200px;
    padding-top: 10px;
}

.serviciosIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.serviciosIndex__texto {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    color: #000000c9;
    text-align: center;
}

.fondoDegradado {
    border-radius: 5px;
    background: rgb(134, 160, 187);
}


.fondoDegradado:hover {
    box-shadow: 0 20px 50px rgb(134, 160, 187);
    transition: all 0.2s ease;
}

.botonDos {
    text-align: center;
    font-size: 35px;
    color: rgb(77, 77, 77);
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}

.botonDos:hover {
    color: #000000;
    transition: all 0.2s ease;
}


/* FOOTER */

.footer {
    display: flex;
    background-color: rgb(42, 75, 106);
    color: rgb(240, 241, 245);
    padding-left: 1px;
    padding-top: 10px;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;
    ;
}

.formFooter__form {
    outline: none;
}

/* NOSOTROS */
.mainNosotros {
    padding-bottom: 1%;
    padding-top: 1%;
    background: rgb(240, 241, 245);
}

.nosotrosTextos {
    display: flex;
    background-color: rgb(79, 111, 150);
    padding: 25px;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.segundoTextoNosotros {
    margin-bottom: 20px;
}

.nosotrosTitulos {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    padding: 5px;
}

/* CONTACTO */

/*FORMULARIO*/
.imagenDeFondoForm {
    width: 100%;
    display: none;
}

.fomularioYMapa {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(134, 160, 187);
    padding: 10px;
    border-radius: 10px;
}

.tituloDelForm {
    font-size: 30px;
    margin-bottom: 4%;
    width: 60%;
    color: rgb(255, 255, 255);
}

.formulario__nombre {
    width: 47%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    color: rgb(161, 154, 154);
    outline: none;
}

.formulario__apellido {
    width: 47.4%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}

.formulario__pais {
    width: 47%;
    height: 40px;
    margin-left: 4px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}

.formulario__cel {

    width: 47.5%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
}

.formulario__email {
    width: 96%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
    margin-left: 4px;
}

.formulario__consulta {
    width: 96%;
    height: 100px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    color: rgb(128, 127, 127);
    outline: none;
    margin-left: 4px;
}

.formulario__boton {
    width: 96.3%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 43, 43);
    font-size: 17px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    margin-left: 4px;
}

.formulario__boton:hover {
    color: #4ed9cb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
    transition: all 0.2s ease;
    background-color: rgb(24, 22, 22);
}

.formulario__checkbox {
    color: white;
    padding-left: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/*MAPA*/
.mapa {
    margin-left: 40px;
    background-color: rgb(134, 160, 187);
    padding: 10px;
    border-radius: 10px;
}

.mapa__direccion {
    font-size: 25px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.mapa__ciudad {
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

/* SOPORTE */

.formularioSoporte {
    display: flex;
    width: 465px;
    flex-wrap: wrap;
    margin-left: 10px;
    background-color: rgb(134, 160, 187);
    border-radius: 10px;
    padding: 15px;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
}

.imgsoporte {
    width: 100%;
    display: block;
}

/* SERVICIOS */

.mainServicios {
    display: flex;
    justify-content: space-evenly;
}

.servicios__caja {
    width: 200px;
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.servicios__titulos {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

.servicios__texto {
    padding-left: 100px;
    padding-right: 100px;
}

.botonServicios {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

/*TAMAÑO 970 INDEX */

@media screen and (max-width: 970px) {

    .tituloPrincipal {
        font-size: 50px;
        width: 300px;
        position: absolute;
        top: 155px;
        right: 35px;
        font-weight: bold;
        line-height: 100%;
        text-align: end;
        color: rgba(26, 24, 24, 0.733);
    }

    .textoDelTitulo {
        font-size: 25px;
        width: 150px;
        top: 260px;
        right: 36px;
    }

    .serviciosIndex {
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .serviciosIndex__texto {
        font-size: 20px;
    }

    .serviciosIndex__logos {
        width: 100px;
    }

    .fondoDegradado {
        background-color: #00000000;
        height: 200px;
    }

    .botonDos {
        font-size: 25px;
        padding-top: 20px;
    }

    .footer {
        font-size: 12px;
    }
}

/* TAMAÑO 750px INDEX */

@media screen and (max-width: 750px) {

    .logoDelMenu img {
        width: 200px;
    }

    .tituloPrincipal {
        font-size: 55px;
        width: 300px;
        position: absolute;
        top: 150px;
        right: 35px;
        font-weight: bold;
        line-height: 100%;
        text-align: end;
        color: rgba(26, 24, 24, 0.733);
    }

    .textoDelTitulo {
        display: none;
    }

    .fondoDegradado {
        background-color: #00000000;
    }

}

/* TAMAÑO 970px SERVICIOS */
@media screen and (max-width: 970px) {
    .botonServicios {
        margin-left: 0%;
        margin-right: 0%;
        background-color: #00000000;
        list-style: none;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 20px;
    }

    .servicios__caja {
        background-color: #00000000;
    }
}

/* TAMAÑO 750px contactos */
@media screen and (max-width: 768px) {
    .mapa{
        margin-left: 0px;
        margin-top: 5px;
        width: 420px;
    }
}